div#content {
  background-color: lightblue;
}

body {
  background-color: cornflowerblue;
}

h1 {
  font-size: 40px;
  font-family: monospace;
  margin-bottom: -10px;
  margin-left: 15px;
}

h2 {
  font-size: 40px;
  font-family: monospace;
  margin-bottom: -10px;
  margin-left: 15px;
}

p#purpose {
  margin-left: 30px;
}

p {
  margin-left: 30px;
  font-size: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

p#h2 {
  padding-right: 500px;
}

span#bigword {
  font-family: serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 30px;
}

img#slider {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px 10px 10px 10px;
}

div#kk {
  width: 300px;
  float: right;
  margin-right: 40px;
  margin-top: 20px;
  background-color: skyblue;
}

p#kkcaption {
  text-align: center;
  text-decoration: underline;
  margin-top: -0px;
  margin-right: -40px;
  margin-left: -30px;
  font-family: monospace;
  font-weight: bolder;


}
